@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$PRIMARY_BLACK: #191c1d;
$PRIMARY_WHITE: #ffffff;
$PRIMARY_GRAY: #f4f4f4;
$PRIMARY_BLUE: #007bff;
$BORDER_COLOR: #dddddd;
$FONT_SIZE_SMALL: 14px;
$FONT_SIZE_MEDIUM: 18px;
$MARGIN_BOTTOM: 20px;
$PADDING: 20px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  display: block;
  font-family: Roboto, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
}

.header {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .header-circle {
    display: flex;
    padding: 10px;
    background: #ffe312;
    border-radius: 50px;
  }
}

.sidebar {
  @media screen and (max-width: 990px) {
    display: none;
  }

  .sidebar-list {
    text-align: left;
    padding: 12px;
    background: #f8fafa;
    border-radius: 16px;
    font-size: $FONT_SIZE_SMALL;
  }

  .sidebar-listitems {
    border: none;
    padding: 16px 24px 16px 16px;
    background: #f8fafa;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $PRIMARY_BLACK;
    }
  }

  .sidebar-icon {
    margin-right: 16px;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.list-group-item {
  @media screen and (max-width: 826px) {
    padding: 8px;
    border-radius: 20px;
  }

  &.active {
    background-color: #fff2b0;
    color: $PRIMARY_BLACK;
    border-radius: 20px;

    @media screen and (max-width: 826px) {
      border-radius: 0;
    }

    @media screen and (min-width: 1080px) {
      border-radius: 100px;
    }
  }
}

h1 {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 12px;
  font-size: 22px;
}

h2 {
  font-size: 24px;
}

.text-decoration-none {
  text-decoration: none;
}

.position-img {
  width: 100%;
}

.input-button {
  text-align: left;
  display: block;
  border-radius: 100px;
  border: 1px solid #6f797a26;
  font-size: $FONT_SIZE_SMALL;

  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto";
  background-color: #f9f9f9;
  transition: border-color 0.25s;
  border: 1px solid rgba(111, 121, 122, 0.1490196078);

  .back-button {
    display: block;
    margin-bottom: 16px;
  }

  .button-main {
    padding: 6px 12px;
    border-radius: 4px;
    background: #f1f1f1;
  }

  .button-view-details {
    display: block;
    margin: 0 auto;
  }
  .back-button {
    display: block;
    margin-bottom: 16px;
  }
}

table {
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;

  @media screen and (max-width: 768px) {
    display: block;
    overflow: auto;
  }

  thead {
    tr {
      background-color: #cecccc3d;
      color: $PRIMARY_BLACK;
      text-align: left;
      font-weight: bold;
    }
  }

  th,
  td {
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid $BORDER_COLOR;
  }

  tbody {
    tr {
      border-bottom: 1px solid $BORDER_COLOR;

      &:last-of-type {
        border-bottom: 2px solid #d8d8d8;
      }
    }
  }
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: $PADDING;
}

.device-details {
  h2 {
    text-align: left;
    margin-bottom: $MARGIN_BOTTOM;
    font-size: $FONT_SIZE_MEDIUM;
  }

  .position-img {
    width: 100%;
  }
}

.section-container-parent {
  display: flex;
  flex-wrap: wrap;
}

.summary-field {
  text-align: left;

  span {
    font-size: $FONT_SIZE_SMALL;
    color: gray;
  }

  p {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .section-container {
    padding: 16px;
    margin: 0 24px 24px 24px;
  }
}

.margin-top-3 {
  margin-top: 24px;
}

.padding-0 {
  padding: 0;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.table-header {
  padding: 6px 8px;
}

.spinner-icon {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;

  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.input-group {
  .input-filters {
    font-size: $FONT_SIZE_SMALL;
    font-family: "Roboto";
    border-radius: 4px;
    font-weight: 500;
    padding: 8px 4px 8px 16px;
    min-width: fit-content;
    border: 1px solid #6f797a;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  .input-searchbar {
    background: #6b5f001c;
    border-radius: 28px;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}
